﻿@model IEnumerable<BookLibrary.Data.Models.Book>

@{
    ViewBag.Title = "Search Book";
}

<h2>Books Finder</h2>

<div style='font-family:Arial'>
    @using (Html.BeginForm("Find", "SearchBooks", FormMethod.Post))
    {
        <div >
            <b>Search by:   </b>
            @Html.TextBox("query", ViewBag.CurrentFilter as string)
            <br />

            @Html.RadioButton("searchBy", "Author", true)<text>Author</text>
            
            @if (ViewBag.SearchBy == "BookName")
            {
                @Html.RadioButton("searchBy", "BookName", true)<text>Book Name</text>
            }
            else
            {
                @Html.RadioButton("searchBy", "BookName")<text>Book Name</text>
            }
        </div>
        <br />
        <div >
            <input type="submit" value="Find" class="btn btn-default" />
        </div>
        <br />
    }

</div>
@if(Model != null)
{ 
<table class="table">
    <tr>
        <th>
            Book Name
        </th>
        <th>
            Category
        </th>
        <th>
            Author Name
        </th> 
        <th>
            Available copy
        </th> 
        <th>
            Lend\Return        
        </th> 
    </tr>

@foreach (var item in Model.Select((value, i) => new { Data = value, Index = i }))
{
    <tr class=@(item.Index % 2 == 0 ? "even" : "odd")>
        <td>
            @Html.DisplayFor(modelItem => item.Data.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data.Author.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data.Stock)
        </td>
        <td>
            @Html.ActionLink("Lend", "Lend", new { id = item.Data.Id }, new { @class = "edit", title = "Lend Book" }) |
            @Html.ActionLink("Return", "Return", new { id = item.Data.Id }, new { @class = "details", title = "Return Book" }) 
        </td>
    </tr>
}

</table>
}

