﻿@model BookLibrary.Data.Models.Category

@{
    ViewBag.Title = "Delete Category";
}

<h2>Delete Category</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("<< Back to Category List", "Index", null, new { @class = "btn btn-default" })
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>
    }
</div>
