﻿@model BookLibrary.Data.Models.Author

@{
    ViewBag.Title = "Delete Author";
}

<h2>Delete Author</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Back to Author List", "Index", null, new { @class = "btn btn-default" })
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>
    }
</div>
