﻿@model BookLibrary.Data.Models.Author

@{
    ViewBag.Title = "Author Details";
}

<h2>Author Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Back to Author List", "Index", null, new { @class = "btn btn-default" })
</div>
