﻿@model BookLibrary.Data.Models.Book

@{
    ViewBag.Title = "Delete Book";
}

<h2>Delete Book</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Book Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            Author Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Fullname)
        </dd>

        <dt>
            Available Copy
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("<< Back to Book List", "Index", null, new { @class = "btn btn-default" })
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>
    }
</div>
