﻿@model BookLibrary.Data.Models.Book

@{
    ViewBag.Title = "Book Details";
}

<h2>Book Details</h2>

<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Book Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            Author Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Fullname)
        </dd>

        <dt>
           Available Copy
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>
</div>


<div>
    @Html.ActionLink("<< Back to Book List", "Index", null, new { @class = "btn btn-default" })
</div>
